.item {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  border-bottom: 1px solid rgb(118, 118, 118);
}

.button {
  font-weight: 700;
  display: block;
  padding: 5px 20px;
  cursor: pointer;
  background-color: darksalmon;
  border: none;
}
