.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.label {
  padding: 5px 10px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
  row-gap: 10px;
}

.input {
  background-color: beige;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px 5px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: initial;
  }
}

@media screen and (max-width: 420px) {
  .label {
    justify-content: center;
  }

  .input {
    flex-basis: 90%;
  }
}
